/* Base */
ul {
  list-style-type: none;
}

@font-face {
  font-family: 'broken_15regular';
  src: url('../media/fonts/broken15.woff2') format('woff2'),
    url('../media/fonts/broken15.woff') format('woff'),
    url('../media/fonts/broken15.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.calendar-container {
  display: inline-block;
  height: 100%;
  justify-content: center;
  max-width: 1600px;
  min-width: 600px;
  width: 100%;
}

/* Month header */
.month {
  background: #202020;
  padding: 70px 25px;
  text-align: center;
  width: 100%;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: #fff;
  font-family: 'broken_15regular''Helvetica'sans-serif;
  font-size: 20px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  background-color: #202020;
  margin: 0;
  padding: 10px 0;
}

.weekdays li {
  color: #fff;
  display: inline-block;
  text-align: center;
  width: 13.6%;
}

/* Days (1-31) */
.days {
  background: #fff;
  border: solid 1px #fff;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: repeat(5, auto);
  height: 300px;
  margin: 0;
  padding: 10px 0;
}

.days li {
  color: #202020;
  font-size: 12px;
  height: 100%;
  list-style-type: none;
  text-align: center;
  width: 100%;
}

/* Highlight the "current" day */
.days li .active {
  background: #000;
  color: white;
  padding: 5px;
}