/*
########     ###     ######  ########
##     ##   ## ##   ##    ## ##
##     ##  ##   ##  ##       ##
########  ##     ##  ######  ######
##     ## #########       ## ##
##     ## ##     ## ##    ## ##
########  ##     ##  ######  ########
*/
/* Base level styles */
@font-face {
  font-family: 'broken_15regular';
  src: url('../media/fonts/broken15.woff2') format('woff2'),
    url('../media/fonts/broken15.woff') format('woff'),
    url('../media/fonts/broken15.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

audio {
  vertical-align: center;
}

body {
  /*background-color: #202020;*/
  background: radial-gradient(#303030 1%, #101010 99%);
  color: #dddddd;
  font-family: 'Helvetica', sans-serif;
  font-size: clamp(16px, 1.7vw, 19px);
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: #101010;
  height: 8vw;
  float: left;
  justify-content: center;
  margin: 0 auto;
  max-height: 90px;
  min-height: 30px;
  min-width: 350px;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

footer {
  background-color: #101010;
  bottom: 0;
  height: 8vw;
  margin: 0 auto;
  max-height: 90px;
  min-height: 30px;
  min-width: 350px;
  position: fixed;
  width: 100%;
  z-index: 5;
}

li {
  text-decoration: none;
}

p {
  color: #cccccc;
}

tml, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
  min-width: 350px;
  place-items: center;
}

ul {
  list-style-type: none;
  font-size: 0;
  padding: 0px;
}

/*
 ######  #### ######## ######## ##      ## #### ########  ########
##    ##  ##     ##    ##       ##  ##  ##  ##  ##     ## ##
##        ##     ##    ##       ##  ##  ##  ##  ##     ## ##
 ######   ##     ##    ######   ##  ##  ##  ##  ##     ## ######
      ##  ##     ##    ##       ##  ##  ##  ##  ##     ## ##
##    ##  ##     ##    ##       ##  ##  ##  ##  ##     ## ##
 ######  ####    ##    ########  ###  ###  #### ########  ########
*/
/* Common styles used across the website*/
/* Header */
.nav a {
  color: #cccccc;
  font-family: 'broken_15regular', 'Helvetica', sans-serif;
  font-size: clamp(24px, 4vw, 60px);
  letter-spacing: 0.06em;
  line-height: 1vh;
  margin: 0 auto;
  text-align: left;
  text-decoration: none;
}

.nav a:hover {
  color: #ffffff;
}

.nav:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.nav .logo {
  font-size: clamp(40px, 10vw, 100px);
  margin-bottom: 5px;
  text-align: left;
}

.nav-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  place-items: center;
  vertical-align: center;
  width: 100%;
}

.nav-container li {
  list-style-type: none;
  margin: 0 3vw;
  justify-content: center;
}

/* Footer */
.socials {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
  place-items: center;
  text-align: center;
  width: 80%;
}

.socials li {
  list-style-type: none;
  margin: 2vmin auto 2vmin;
}

.socials li img {
  height: 5vmin;
  max-height: 42px;
  max-width: 42px;
  min-height: 10px;
  min-width: 10px;
  opacity: .75;
  width: auto;
}

.socials li img:hover {
  opacity: 1;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Content Container */
.page-content-container {
  margin-top: clamp(20px, 8vw, 90px);
  margin-bottom: clamp(20px, 8vw, 90px);
}

/*
########     ###     ######   ########  ######
##     ##   ## ##   ##    ##  ##       ##    ##
##     ##  ##   ##  ##        ##       ##
########  ##     ## ##   #### ######    ######
##        ######### ##    ##  ##             ##
##        ##     ## ##    ##  ##       ##    ##
##        ##     ##  ######   ########  ######
*/
/* Styles for Individual Web Pages */
/*
#### ##    ## ########  ######## ##     ##
 ##  ###   ## ##     ## ##        ##   ##
 ##  ####  ## ##     ## ##         ## ##
 ##  ## ## ## ##     ## ######      ###
 ##  ##  #### ##     ## ##         ## ##
 ##  ##   ### ##     ## ##        ##   ##
#### ##    ## ########  ######## ##     ##
*/
.index-banner {
  color: #cccccc;
  font-family: 'broken_15regular',
    Helvetica;
  font-size: clamp(.4rem, 6vw, 4rem);
  letter-spacing: 0.2em;
  margin: 0 auto;
  text-align: center;
}

.index-nav-container {
  display: grid;
  grid-gap: 5% 5%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  height: auto;
  margin: 2% auto;
  width: 90vw;
}

@media (min-width: 800px) {
  .index-nav-container {
    display: grid;
    grid-gap: 5% 5%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 60vh;
  }
}

.index-nav {
  display: grid;
  height: 100%;
  max-height: 300px;
  max-width: 900px;
  text-align: center;
  width: 100%;
}

.index-nav:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.index-nav:hover>.index-nav-text {
  color: #ffffff;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.index-nav-text {
  font-family: 'broken_15regular',
    Helvetica;
  font-size: clamp(.4rem, 6vw, 10rem);
  line-height: 10vw;
  text-align: center;
  vertical-align: middle;
}

/* Background Images */
#about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Flyers/DMZflyer2.jpg') no-repeat center center/cover;
}

#calendar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZclubnight.jpg') no-repeat center center/cover;
}

#gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZ fabric.jpg') no-repeat center center/cover;
}

#releases {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZRELEASES.jpg') no-repeat center center/cover;
}

/*
   ###    ########   #######  ##     ## ########
  ## ##   ##     ## ##     ## ##     ##    ##
 ##   ##  ##     ## ##     ## ##     ##    ##
##     ## ########  ##     ## ##     ##    ##
######### ##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ## ##     ##    ##
##     ## ########   #######   #######     ##
*/
.about-page-text {
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 75%;
  text-align: center;
}

.about-page-header-container {
  height: calc(100vh - 10vw);
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}

.about-page-header {
  font-size: clamp(0.5rem, 12vmin, 15rem);
  padding: 25vmin 10vmin;
  text-align: center;
  margin: 0 auto;
}

.about-page-header-container.the-label {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZcloseup.jpg') no-repeat center center/cover;
}

.about-page-header-container.the-night {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZline.jpg') no-repeat center center/cover;
}

.caption {
  font-size: 1.5vw;
  justify-content: center;
  margin: 2vw auto;
  opacity: .8;
}

.about-page-media {
  justify-content: center;
  margin: 5vw auto;
}

.about-page-media img {
  height: 60vw;
  justify-content: center;
  max-height: 600px;
  width: auto;
}

.video-container {
  justify-content: center;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.video-container iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
########  ######## ##       ########    ###     ######  ########  ######
##     ## ##       ##       ##         ## ##   ##    ## ##       ##    ##
##     ## ##       ##       ##        ##   ##  ##       ##       ##
########  ######   ##       ######   ##     ##  ######  ######    ######
##   ##   ##       ##       ##       #########       ## ##             ##
##    ##  ##       ##       ##       ##     ## ##    ## ##       ##    ##
##     ## ######## ######## ######## ##     ##  ######  ########  ######
*/
section.release-container {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin: 2vh auto;
  place-items: center;
}

.release-img {
  background-color: #000000;
  opacity: .80;
  height: auto;
  max-height: auto;
  max-width: 250px;
  min-height: auto;
  min-width: 50px;
  border-radius: 50%;
  width: 100%;
}

.release-img:hover {
  opacity: 100%;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.release-page-text {
  text-align: center;
  color: #aaaaaa;
  font-size: clamp(14px, 1.7vw, 20px);
}

/* Individual Release Page Styling */
.audio-sample-grid-container {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1vw;
}

@media (min-width: 1400px) {
  .audio-sample-grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.audio-sample-container {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.audio-title {
  font-size: 14px;
}

.release-page-description-container {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  vertical-align: middle;
}

.release-page-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3vh auto;
  max-width: 80%;
  text-align: center;
  /*padding: 30px;*/
}

@media (min-width: 1400px) {
  .release-page-container {
    grid-template-columns: 1fr 3fr;
    grid-gap: 0 1vw;
  }
}

.release-page-img {
  border-radius: 50%;
  height: auto;
  max-height: 450px;
  max-width: 450px;
  width: 35vw;
}

.release-page-img-container {
  display: flex;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  max-height: 450px;
  max-width: 450px;
  width: 100%;
  vertical-align: top;
}

.release-page-title {
  display: flex;
  /*Tried with the DMZ font but it doesn't look great
  font-family: 'broken_15regular';*/
  font-size: clamp(18px, 4vw, 26px);
  justify-content: center;
  margin: 2vh auto;
}

/* Release page Hover FX */
.release-page-img.reverse {
  display: none;
}

.release-page-img-container:hover>.release-page-img.cover {
  display: none;
}

.release-page-img-container:hover>.release-page-img.reverse {
  display: flex;
  z-index: 2;
}

/*
 ######      ###    ##       ##       ######## ########  ##    ##
##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##
##         ##   ##  ##       ##       ##       ##     ##   ####
##   #### ##     ## ##       ##       ######   ########     ##
##    ##  ######### ##       ##       ##       ##   ##      ##
##    ##  ##     ## ##       ##       ##       ##    ##     ##
 ######   ##     ## ######## ######## ######## ##     ##    ##
*/
/* Slideshow container */
.carousel {
  height: 45vw;
  margin: 2vh auto;
  max-height: 675px;
  max-width: 1200px;
  min-height: 56px;
  min-width: 100px;
  position: relative;
  width: 80vw;
}

.carousel-track {
  height: 100%;
  list-style: none;
  margin: 0;
  max-height: 675px;
  max-width: 1200px;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.carousel-track-container {
  height: 100%;
  max-height: 675px;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.slide-img {
  height: 100%;
  display: none;
  max-height: 675px;
  max-width: 1200px;
  object-fit: fill;
  width: 100%;
}

/* Hide the images by default */
.carousel-button {
  background: transparent;
  border: 0;
  bottom: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-button img {
  width: 2vw;
  fill: white;
}

.carousel-button.prev {
  left: -40px;
}

.carousel-button.next {
  right: -40px;
}

/* Fading animation */
.fade {
  animation-duration: 0.7s;
  animation-name: fade;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*
 ######     ###    ##       ######## ##    ## ########     ###    ########
##    ##   ## ##   ##       ##       ###   ## ##     ##   ## ##   ##     ##
##        ##   ##  ##       ##       ####  ## ##     ##  ##   ##  ##     ##
##       ##     ## ##       ######   ## ## ## ##     ## ##     ## ########
##       ######### ##       ##       ##  #### ##     ## ######### ##   ##
##    ## ##     ## ##       ##       ##   ### ##     ## ##     ## ##    ##
 ######  ##     ## ######## ######## ##    ## ########  ##     ## ##     ##
*/