/*Main code*/
body {
  background-color: #202020;
  color: #dddddd;
  font-family: 'Helvetica', sans-serif;
  font-size: 18px;
  margin: 0;
}

@font-face {
  font-family: 'broken_15regular';
  src: url('../media/fonts/broken15.woff2') format('woff2'),
    url('../media/fonts/broken15.woff') format('woff'),
    url('../media/fonts/broken15.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

tml, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
  place-items: center;
}

.pagecontent {
  justify-content: center;
  margin: 117px auto 117px;
  place-items: center;
}

/*Common Header/Navigation bar */
p {
  color: #cccccc;
}

a.nav {
  color: #cccccc;
  font-family: 'broken_15regular', 'Helvetica', sans-serif;
  font-size: clamp(1rem, 7vw, 4rem);
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

a.nav:hover {
  /*These don;t work well with the broken 15 font....
  text-decoration: line-through;*/
  color: #ffffff;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.headercontainer {
  background-color: #101010;
  height: 10vw;
  justify-content: center;
  margin: 0 auto;
  max-height: 10%;
  min-height: 20px;
  place-items: center;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.navcontainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  place-items: center;
  text-align: center;
  width: 75%;
}

.nav {
  line-height: 15px;
}

.navtext {
  text-align: center;
}

.nav.logo {
  font-size: clamp(2rem, 10vw, 6rem);
  padding-bottom: 20px;
  top: 0;
}

/*Common Footer */
footer {
  background-color: #101010;
  bottom: 0;
  height: 10vw;
  justify-content: center;
  margin: 0 auto;
  margin-top: 60px;
  max-height: 10%;
  min-height: 10px;
  place-items: center;
  position: fixed;
  width: 100%;
  vertical-align: center;
}

.socials {
  bottom: 0;
  padding: 0 auto;
  text-align: center;
  vertical-align: center;
}

.socials li {
  display: inline-block;
  list-style-type: none;
}

/*.socials li a {
  border-bottom: none;
}*/
.socials li img {
  height: 6vw;
  margin: 0px 20px;
  max-height: 42px;
  max-width: 42px;
  min-height: 5px;
  min-width: 5px;
  opacity: .75;
  width: auto;
}

.socials li img:hover {
  /*These don;t work well with the broken 15 font....
    color: #FFFFFF;
    text-decoration: line-through;*/
  opacity: 1;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Homepage Styling*/
/* Slideshow container */
.carousel {
  height: 64vh;
  margin: 10px 10px;
  max-height: 675px;
  max-width: 1200px;
  position: relative;
  width: 115vw;
}

.carouseltrack {
  height: 100%;
  list-style: none;
  margin: 0;
  max-height: 675px;
  max-width: 1200px;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.carouseltrackcontainer {
  height: 100%;
  max-height: 675px;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.slideimg {
  height: 100%;
  display: none;
  max-height: 675px;
  max-width: 1200px;
  object-fit: fill;
  width: 100%;
}

/* Hide the images by default */
.carouselbutton {
  background: transparent;
  border: 0;
  bottom: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carouselbutton img {
  width: 20px;
  fill: white;
}

.carouselbutton.prev {
  left: -40px;
}

.carouselbutton.next {
  right: -40px;
}

/* Fading animation */
.fade {
  animation-duration: 0.5s;
  animation-name: fade;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*About Page Styling*/
.abouttext {
  justify-content: center;
  margin: 0 auto;
  max-width: 60%;
}

.divider {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.intextmedia {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.intextmedia img {
  justify-content: center;
  margin: 0 auto;
  max-height: 400px;
}

.caption {
  font-size: 1.1rem;
  justify-content: center;
  margin: 10px auto;
  opacity: .8;
}

/*Full Release Page Styling */
section.releasecontainer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  /*grid-template-columns: repeat(auto-fill, 1 minmax(50px 1fr));*/
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
  place-items: center;
}

.releaseimg {
  background-color: #000000;
  opacity: .80;
  height: 100%;
  max-height: auto;
  max-width: 250px;
  min-height: auto;
  min-width: 50px;
  border-radius: 50%;
  width: 100%;
}

.releaseimg:hover {
  opacity: 100%;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.releasepagetext {
  text-align: center;
  color: #aaaaaa;
}

/*Individual Release Page Styling*/
audio {
  vertical-align: center;
}

.audiosamplecontainers {
  text-align: center;
  justify-content: center;
  vertical-align: center;
}

.audiotitle {
  font-size: .9rem;
}

.releasepagedescription {
  max-width: 55%;
  margin: 2px 10px;
}

.releasepagedescriptiontext {
  text-align: center;
}

.releasepagecontainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 30px;
}

.releasepageimg {
  border-radius: 50%;
  height: auto;
  max-height: 450px;
  max-width: 450px;
  width: 100%;
}

.releasepageimgcontainer {
  height: 100%;
  max-height: 450px;
  max-width: 450px;
  width: 100%
}

.releasepagetitle {
  display: flex;
  /*Tried with the DMZ font but it doesn't look great
  font-family: 'broken_15regular';*/
  font-size: 2.5rem;
  justify-content: center;
  margin: 0 auto;
}

/* Release page Hover FX */
.releasepageimg.reverse {
  display: none;
}

.releasepageimgcontainer:hover>.releasepageimg.cover {
  display: none;
}

.releasepageimgcontainer:hover>.releasepageimg.reverse {
  display: flex;
  z-index: 2;
}