/*

 ######   ######## ##    ## ######## ########     ###    ##
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##
##        ##       ####  ## ##       ##     ##  ##   ##  ##
##   #### ######   ## ## ## ######   ########  ##     ## ##
##    ##  ##       ##  #### ##       ##   ##   ######### ##
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##
 ######   ######## ##    ## ######## ##     ## ##     ## ########
*/
audio {
  vertical-align: center;
}

body {
  background-color: #202020;
  color: #dddddd;
  font-family: 'Helvetica', sans-serif;
  font-size: clamp(16px, 1.7vw, 19px);
  margin: 0 auto;
}

@font-face {
  font-family: 'broken_15regular';
  src: url('../media/fonts/broken15.woff2') format('woff2'),
    url('../media/fonts/broken15.woff') format('woff'),
    url('../media/fonts/broken15.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

tml, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
  place-items: center;
}

.page-content-container {
  margin-top: clamp(20px, 8vw, 90px);
  margin-bottom: clamp(20px, 8vw, 90px);
}

/*


Common Header/Navigation bar


*/
p {
  color: #cccccc;
}

a.nav {
  color: #cccccc;
  font-family: 'broken_15regular', 'Helvetica', sans-serif;
  font-size: clamp(19px, 4vw, 4rem);
  letter-spacing: 0.06em;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
}

a.nav:hover {
  /*Doesn't work well with the broken 15 font....
  text-decoration: line-through;*/
  color: #ffffff;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.headercontainer {
  background-color: #101010;
  height: 8vw;
  justify-content: center;
  margin: 0 0;
  max-height: 90px;
  min-height: 20px;
  place-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

.navcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  place-items: center;
  text-align: center;
  width: 100%;
}

.nav {
  line-height: 15px;
}

.nav.logo {
  font-size: clamp(.6rem, 8vw, 6rem);
  margin-bottom: 5px;
}

/*


Common Footer


*/
footer {
  background-color: #101010;
  bottom: 0;
  height: 8vw;
  justify-content: center;
  margin: 0 auto;
  /*margin-top: 8vw;*/
  max-height: 90px;
  min-height: 10px;
  place-items: center;
  position: fixed;
  width: 100%;
  vertical-align: center;
  z-index: 5;
}

.socials {
  bottom: 2;
  padding: 0 auto;
  text-align: center;
  vertical-align: center;
}

.socials li {
  display: inline-block;
  list-style-type: none;
}

.socials li img {
  height: 4.2vw;
  margin: 5px 20px;
  max-height: 42px;
  max-width: 42px;
  min-height: 5px;
  min-width: 5px;
  opacity: .75;
  width: auto;
}

.socials li img:hover {
  /*These don;t work well with the broken 15 font....
    color: #FFFFFF;
    text-decoration: line-through;*/
  opacity: 1;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/*
#### ##    ## ########  ######## ##     ##
 ##  ###   ## ##     ## ##        ##   ##
 ##  ####  ## ##     ## ##         ## ##
 ##  ## ## ## ##     ## ######      ###
 ##  ##  #### ##     ## ##         ## ##
 ##  ##   ### ##     ## ##        ##   ##
#### ##    ## ########  ######## ##     ##
*/
.indexheader {
  color: #cccccc;
  font-family:
    'broken_15regular',
    Helvetica;
  font-size: clamp(.4rem, 6vw, 4rem);
  letter-spacing: 0.2em;
  margin: 0 auto;
  text-align: center;
}

.indexnav {
  display: grid;
  grid-gap: 5% 5%;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  height: 80vh;
  margin: 2% auto;
  width: 80vw;
}

@media (min-width: 800px) {
  .indexnav {
    display: grid;
    grid-gap: 5% 4%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    height: 60vh;
  }
}

.indexnavcontainer {
  display: grid;
  height: 100%;
  max-height: 350px;
  max-width: 700px;
  text-align: center;
  width: 100%;
}

.indexnavcontainer:hover {
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.indexnavtext.nav {
  font-size: clamp(.4rem, 6vw, 10rem);
  line-height: 15vw;
  text-align: center;
  vertical-align: middle;
}

/* Background Images */
#calendar {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZclubnight.jpg') no-repeat center center/cover;
}

#gallery {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZ fabric.jpg') no-repeat center center/cover;
}

#about {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Flyers/DMZflyer2.jpg') no-repeat center center/cover;
}

#releases {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZRELEASES.jpg') no-repeat center center/cover;
}

/*
   ###    ########   #######  ##     ## ########
  ## ##   ##     ## ##     ## ##     ##    ##
 ##   ##  ##     ## ##     ## ##     ##    ##
##     ## ########  ##     ## ##     ##    ##
######### ##     ## ##     ## ##     ##    ##
##     ## ##     ## ##     ## ##     ##    ##
##     ## ########   #######   #######     ##
*/
.abouttext {
  justify-content: center;
  margin: 0 auto;
  width: 100vw;
  max-width: 75%;
  text-align: center;
}

.about-page-header-container {
  height: calc(100vh - 10vw);
  margin: 0 auto;
  padding: 0;
  width: 100vw;
}

.about-page-header {
  font-size: clamp(0.5rem, 12vmin, 15rem);
  padding: 25vmin 10vmin;
  text-align: center;
  margin: 0 auto;
}

.about-page-header-container.the-label {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZcloseup.jpg') no-repeat center center/cover;
}

.about-page-header-container.the-night {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../Media/Images/Photos/DMZline.jpg') no-repeat center center/cover;
}

.caption {
  font-size: 1.5vw;
  justify-content: center;
  margin: 2vw auto;
  opacity: .8;
}

.intextmedia {
  justify-content: center;
  margin: 5vw auto;
}

.intextmedia img {
  height: 60vw;
  justify-content: center;
  max-height: 600px;
  width: auto;
}

.videocontainer {
  justify-content: center;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

.videocontainer iframe {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/*
########  ######## ##       ########    ###     ######  ########  ######
##     ## ##       ##       ##         ## ##   ##    ## ##       ##    ##
##     ## ##       ##       ##        ##   ##  ##       ##       ##
########  ######   ##       ######   ##     ##  ######  ######    ######
##   ##   ##       ##       ##       #########       ## ##             ##
##    ##  ##       ##       ##       ##     ## ##    ## ##       ##    ##
##     ## ######## ######## ######## ##     ##  ######  ########  ######
*/
section.releasecontainer {
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin: 2vh auto;
  place-items: center;
}

.releaseimg {
  background-color: #000000;
  opacity: .80;
  height: auto;
  max-height: auto;
  max-width: 250px;
  min-height: auto;
  min-width: 50px;
  border-radius: 50%;
  width: 100%;
}

.releaseimg:hover {
  opacity: 100%;
  transform: scale(1.05);
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
}

.releasepagetext {
  text-align: center;
  color: #aaaaaa;
  font-size: clamp(14px, 1.7vw, 20px);
}

/*


Individual Release Page Styling


*/
.audiosamplegrid {
  display: inline-grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 1vw;
}

@media (min-width: 1400px) {
  .audiosamplegrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.audiosamplecontainer {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.audiotitle {
  font-size: 14px;
}

.releasepagedescription {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  vertical-align: middle;
}

.releasepagecontainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin: 3vh auto;
  max-width: 80%;
  text-align: center;
  /*padding: 30px;*/
}

@media (min-width: 1400px) {
  .releasepagecontainer {
    grid-template-columns: 1fr 3fr;
    grid-gap: 0 1vw;
  }
}

.releasepageimg {
  border-radius: 50%;
  height: auto;
  max-height: 450px;
  max-width: 450px;
  width: 35vw;
}

.releasepageimgcontainer {
  display: flex;
  height: auto;
  margin: 0 auto;
  justify-content: center;
  max-height: 450px;
  max-width: 450px;
  width: 100%;
  vertical-align: top;
}

.releasepagetitle {
  display: flex;
  /*Tried with the DMZ font but it doesn't look great
  font-family: 'broken_15regular';*/
  font-size: clamp(18px, 4vw, 26px);
  justify-content: center;
  margin: 2vh auto;
}

/* Release page Hover FX */
.releasepageimg.reverse {
  display: none;
}

.releasepageimgcontainer:hover>.releasepageimg.cover {
  display: none;
}

.releasepageimgcontainer:hover>.releasepageimg.reverse {
  display: flex;
  z-index: 2;
}

/*
 ######      ###    ##       ##       ######## ########  ##    ##
##    ##    ## ##   ##       ##       ##       ##     ##  ##  ##
##         ##   ##  ##       ##       ##       ##     ##   ####
##   #### ##     ## ##       ##       ######   ########     ##
##    ##  ######### ##       ##       ##       ##   ##      ##
##    ##  ##     ## ##       ##       ##       ##    ##     ##
 ######   ##     ## ######## ######## ######## ##     ##    ##
*/
/* Slideshow container */
.carousel {
  height: 45vw;
  margin: 2vh auto;
  max-height: 675px;
  max-width: 1200px;
  min-height: 56px;
  min-width: 100px;
  position: relative;
  width: 80vw;
}

.carouseltrack {
  height: 100%;
  list-style: none;
  margin: 0;
  max-height: 675px;
  max-width: 1200px;
  object-fit: cover;
  overflow: hidden;
  padding: 0;
  width: 100%;
}

.carouseltrackcontainer {
  height: 100%;
  max-height: 675px;
  max-width: 1200px;
  position: relative;
  width: 100%;
}

.slideimg {
  height: 100%;
  display: none;
  max-height: 675px;
  max-width: 1200px;
  object-fit: fill;
  width: 100%;
}

/* Hide the images by default */
.carouselbutton {
  background: transparent;
  border: 0;
  bottom: 50%;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carouselbutton img {
  width: 2vw;
  fill: white;
}

.carouselbutton.prev {
  left: -40px;
}

.carouselbutton.next {
  right: -40px;
}

/* Fading animation */
.fade {
  animation-duration: 0.7s;
  animation-name: fade;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}