/*@font-face {
  font-family:'broken15';
  src: url('MacintoshHD/Users/tjtimusk/Desktop/Coding/Side_Projects/DMZ/Fonts/broken15.TTF') format('truetype');
  src: local('broken15') url('fonts/broken15.ttf') format('truetype');
  src: url('broken15.woff') format('woff');
  src: url('broken15.woff2') format('woff2');
  font-weight: normal;
  font-size: normal;
}*/
@font-face {
  font-family: 'broken_15regular';
  src: url('fonts/broken15.woff2') format('woff2'),
    url('fonts/broken15.woff') format('woff'),
    url('fonts/broken15.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

/*Main code*/
tml, body {
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
  min-height: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Helvetica', sans-serif;
  margin: 0;
}

/*Common Header/Navigation bar */
.headercontainer {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 1600px;
}

.logo {
  max-height: auto;
  max-width: 250px;
  width: 100%;
  z-index: 10;
}

.nav {
  justify-content: center;
  line-height: 60px;
  margin: 0 auto;
  top: 50%;
  vertical-align: middle;
  z-index: 10;
}

a.nav {
  color: #FFFFFF;
  font-family: 'broken_15regular', 'Helvetica', sans-serif;
  font-size: 3.0rem;
  margin: auto;
  padding: 0px 10px;
  text-decoration: none;
}

a.nav:hover {
  /*These don;t work well with the broken 15 font....
  color: #FFFFFF;
  text-decoration: line-through;*/
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

p {
  color: #FFFFFF;
}

/*Common Footer */
footer {
  justify-content: center;
  margin: 0 auto;
}

.socials {
  text-align: center;
}

.socials li {
  display: inline-block;
  list-style-type: none;
}

.socials li a {
  border-bottom: none;
}

.socials li img {
  height: 50px;
  margin-right: 20px;
  opacity: 75%;
  width: 50px;
}

.socials li img:hover {
  /*These don;t work well with the broken 15 font....
    color: #FFFFFF;
    text-decoration: line-through;*/
  opacity: 100%;
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/* Homepage Styling*/
/* Slideshow container */
.carousel {
  height: 675px;
  max-height: 675px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  width: 90%;
}

.carouseltrack {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Hide the images by default */
.slideimg {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  border-radius: 0 3px 3px 0;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  margin-top: -22px;
  padding: 16px;
  position: absolute;
  top: 50%;
  transition: 0.6s ease;
  user-select: none;
  width: auto;
}

/* Position the "next button" to the right */
.next {
  border-radius: 3px 0 0 3px;
  right: 0;
}

/* Fading animation */
.fade {
  animation-duration: 0.5s;
  animation-name: fade;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/*About Page Styling*/
.abouttext {
  justify-content: center;
  margin: 0 auto;
  max-width: 600px;
}

.divider {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.intextmedia {
  display: grid;
  justify-content: center;
  margin: 0 auto;
}

.intextmedia img {
  justify-content: center;
  margin: 0 auto;
  max-height: 400px;
}

.caption {
  font-size: .8rem;
  justify-content: center;
  margin: 0 auto;
  opacity: .8;
}

/*Full Release Page Styling */
section.releasecontainer {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  justify-content: center;
  margin: 0 auto;
}

.releaseimg {
  max-height: auto;
  max-width: 250px;
}

.releaseimg:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

/*Individual Release Page Styling*/
.releasepagecontainer {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
  padding: 30px;
}

.releasepagetitle {
  display: flex;
  /*font-family: 'broken_15regular';
  Tried with the DMZ font but it doesn't look great*/
  font-size: 2.5rem;
  justify-content: center;
  margin: 0 auto;
}

.releasedescriptiontext {
  max-width: 35%;
}

.releasepageimg {
  max-height: auto;
  max-width: 550px;
}